@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

.text-purple {
  color: #A330AE;
}

.banner-heading {
  @apply text-2xl md:text-5xl font-semibold mb-4;
}
.banner-subheading {
  @apply text-sm md:text-base text-gray-600 dark:text-gray-300 max-w-2xl mx-auto;
}

.section-heading {
  @apply text-2xl md:text-3xl font-semibold text-center mb-4 md:mb-8;
}


.section-paragraph {
  @apply text-sm md:text-lg text-gray-600 dark:text-gray-300 text-center max-w-4xl mx-auto mb-8 md:mb-16;
}

.section-container-heading {
  @apply text-lg md:text-xl font-semibold mb-3;
}
.section-container-paragraph {
  @apply text-sm text-gray-500 dark:text-gray-400 max-w-xs;
}

.card-heading{
  @apply text-sm font-semibold mb-1;
}
.card-subheading {
  @apply text-gray-600 dark:text-gray-300 mb-2 text-sm;
}
.card-paragraph {
  @apply text-sm flex items-center text-gray-600 dark:text-gray-300;
}

.card-icon-div{
  @apply w-14 h-14 bg-purple-100 dark:bg-purple-900/50 rounded-2xl flex items-center justify-center
}

.card-icon-svg{
  @apply w-7 h-7 text-purple-600 dark:text-purple-400;
}

.text-start-override {
  @apply text-start;
}

.text-lg-override {
  @apply text-lg md:text-lg font-semibold ;
  
}
.deal-heading-lg-override {
  @apply text-xl  font-semibold ;
  
}
